@model QuizzApp.Models.Pergunta

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Pergunta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ImagemPath" class="control-label"></label>
                <input asp-for="ImagemPath" class="form-control" />
                <span asp-validation-for="ImagemPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Texto" class="control-label"></label>
                <input asp-for="Texto" class="form-control" />
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resposta1" class="control-label"></label>
                <input asp-for="Resposta1" class="form-control" />
                <span asp-validation-for="Resposta1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resposta2" class="control-label"></label>
                <input asp-for="Resposta2" class="form-control" />
                <span asp-validation-for="Resposta2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resposta3" class="control-label"></label>
                <input asp-for="Resposta3" class="form-control" />
                <span asp-validation-for="Resposta3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resposta4" class="control-label"></label>
                <input asp-for="Resposta4" class="form-control" />
                <span asp-validation-for="Resposta4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RespostaCorreta" class="control-label"></label>
                <input asp-for="RespostaCorreta" class="form-control" />
                <span asp-validation-for="RespostaCorreta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quizzid" class="control-label"></label>
                <select asp-for="quizzid" class="form-control" asp-items="ViewBag.quizzid"></select>
                <span asp-validation-for="quizzid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Perguntas" asp-route-quizzId="@Model.quizzid">Voltar</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
